<div id="navigation" *ngIf="!logged_in">
    <mat-toolbar color="primary">
      <span>PJISP</span>

      <button mat-raised-button color="primary" class="toolbar_button" i18n="login">Log in</button>
    </mat-toolbar>

</div>

<div id="logged_navigation" *ngIf="logged_in">
  <mat-toolbar color="primary">
    <span>PJISP</span>
    <button mat-raised-button color="primary" class="toolbar_button">Home</button>
    <button mat-raised-button color="primary" class="toolbar_button" routerLink="/user">{{this.username}}</button>
    <button mat-raised-button color="primary" class="toolbar_button" routerLink="/results">Upload Results</button>
    <button mat-raised-button color="primary" class="toolbar_button">Statistics</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="toolbar_button">Log out</button>
    <button mat-icon-button (click)="changeLanguage()"><mat-icon>language</mat-icon></button>
  </mat-toolbar>
</div>

